<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVv6MTNQypS9on_AAyueZI8fR5AOsCa0s</string>
	<key>GCM_SENDER_ID</key>
	<string>1065100430789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignment09</string>
	<key>PROJECT_ID</key>
	<string>assignment09-c2dd1</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment09-c2dd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065100430789:ios:fb0b4713d8a2ae2d5a8fac</string>
</dict>
</plist>